#root {
  margin: 0 auto;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#navBar{
  display: flex;
  flex-direction: row;
  gap: 16px;
  background-color: rgb(3, 3, 21);
  color: white;
}

#logo {
  width: 64px;
}

footer {
  
}

#githubIcon{
  width: 40px;
}