#root {
  margin: 0 auto;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navBar{
  display: flex;
  flex-direction: row;
  gap: 16px;
  background-color: rgb(3, 3, 21);
  color: white;
  height: 5vh;
}

#logo {
  width: 64px;
}

#sidebar {
  height: 95vh;
  width: 200px;
  background-color: rgb(222, 222, 222);
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
}

#sidebarLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#githubIcon{
  width: 32px;
}

#mainPage{
  display: flex;
  flex-direction: row;
}

.recipeImg{
  width: 200px;
}