@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#root {
  margin: 0 auto;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary500: #727F68; 
  --color-primary400: #899482;
  --color-secundary500: #33382E;
  --color-accent500: #F9AF42;
  --color-accent600: #e08a08;
  --color-neutral500: #FEFDFA;

  --font-text: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #navBar{
  display: flex;
  flex-direction: row;
  gap: 16px;
  background-color: rgb(3, 3, 21);
  color: white;
  height: 5vh;
}

#logo {
  width: 64px;
}

#sidebar {
  height: 95vh;
  width: 200px;
  background-color: rgb(222, 222, 222);
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
}

#sidebarLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#githubIcon{
  width: 32px;
}*/

body{
  max-height: 100vh;
  font-family: var(--font-text);
}

#mainPage{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.mainContainer{
  flex-grow: 1; 
  padding: 20px;
  height: 100vh; 
  overflow-y: auto; 
  background-color: var(--color-neutral500); 
}

.recipeImg{
  width: 200px;
} 

/* Sidebar container*/

.sidebar {
  height: 100vh;
  width: 336px;
  display: flex; 
  color: var(--color-neutral500);
  overflow: hidden;
  flex-shrink: 0;
  font-weight: 500;
}


/*Sidebar icons*/

.sidebarIcons {
  width: 64px; 
  background-color: var(--color-secundary500); 
}

.sidebarIcons section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24PX;
}

.logoImg{
  width: 65%;
  display: flex;
  justify-content: center;
}

.sidebarLinksXs img, .sidebarCategoriesXs img, .sidebarFavXs img, .sidebarFooterXs img {
  width: 20px;
}

.sidebarIcons hr {
  width: 80%;
  margin: 0 auto;
  border: 0;
  border-top: 0.2px solid var(--color-primary400);
}

/* Sidebar text*/

.sidebarText {
  width: 264px; 
  background-color: var(--color-primary500);
  padding-left: 10%;
}

.sidebar section {
  padding: 16px 0px;
}

.sidebarText hr {
  width: 80%;
  margin: 0;
  border: 0;
  border-top: 0.2px solid var(--color-primary400);
}

.sidebarLinks, .sidebarProfile, .sidebarCategories, .sidebarFooter, .sidebarFav{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebarProfile{
  display: flex;
  flex-direction: row;
  gap: 16px;
  font-size: 16px;
  align-items: center;
}

.profileImg{
  width: 40px;
}

a{
  color: var(--color-neutral500);
  text-decoration: none;
}

a:hover { 
  color: var(--color-secundary500);
  transition: 0.25s;
}

.sidebarText button {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer; 
  font-size: 14px;
  background-color: var(--color-accent500);
  color: var(--color-secundary500);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.sidebarText button:hover {
  background-color: var(--color-accent600);
  transition: 0.5s;
}

#buttonLargeAddImg {
  width: 14px;
}

/* Side by side sidebars css */

.sidebarProfile, .sidebarProfileXs{
  height: 64px;
}

.sidebarLinks, .sidebarLinksXs {

}

.sidebarLinks {
  
}

.sidebarLinksXs {

}